.searchInput{
    width:631px;
    background-color: #5A5C66;

}
.search{
    margin-left: 78px;
    margin-top: 23px;

}
.ant-input {
    background-color: #5A5C66;
    border-radius: 0px;
    border-color: #5A5C66;
}
.ant-btn-primary{
    background-color: #5A5C66;
}
.ant-input::placeholder{
    color: white;
}